.date {
  display:block;
  color: #303030;
  margin:10px;
  font-size: 20px;
}

.page-title {
  display: flex;
  justify-content: center; /* Horizontally center */
  align-items: center;    /* Vertically center */
}

.title{
  color: #1377BD;
  font-size: 1.2rem;
  padding: 2rem 0 0 0;
}

.title.a {
  color: #1377BD;
}

.title:hover {
  text-decoration: none !important;
}

.content{
  display:block;
  color: #303030;
  margin: 0;
}

.container{
  max-width:750px;
}

.icon-title{
    display: flex;
    align-items: center;
}

.list {
  list-style-type:none;
}

.item {
    margin-top:10px;
    margin-bottom:10px;
}